<div *ngIf="alertaSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
  {{ mensagemAlerta }}
  <button type="button" class="close" (click)="fecharAlerta('sucesso')" aria-label="Fechar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="alertaErro" class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ mensagemAlerta }}
  <button type="button" class="close" (click)="fecharAlerta('erro')" aria-label="Fechar">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div>
  <h2>Cadastrar Estudante</h2>
  <form (submit)="criarEstudante()">
    <div class="form-row row">
      <div class="form-group col-md-6">
        <label for="nomeCompleto">Nome Completo:</label>
        <input id="nomeCompleto" type="text" name="nomeCompleto" class="form-control"
          [(ngModel)]="novoEstudante.nomeCompleto" required>
      </div>
      <div class="form-group col-md-3">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" type="date" name="dataNascimento" class="form-control"
          [(ngModel)]="novoEstudante.dataNascimento" required>
      </div>
    </div>
    <div class="form-row row">
      <div class="form-group col-md-12">
        <label>Vincular localidade:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcaoLocalidade" id="semCadastro"
            [(ngModel)]="opcaoLocalidade" value="semCadastro">
          <label class="form-check-label" for="semCadastro">Aluno sem cadastro vinculado</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcaoLocalidade" id="criarLocalidade"
            [(ngModel)]="opcaoLocalidade" value="criar" checked>
          <label class="form-check-label" for="criarLocalidade">Criar nova localidade</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="opcaoLocalidade" id="utilizarLocalidade"
            [(ngModel)]="opcaoLocalidade" value="utilizar">
          <label class="form-check-label" for="utilizarLocalidade">Utilizar localidade cadastrada</label>
        </div>
      </div>
    </div>
    <div class="form-row row" *ngIf="opcaoLocalidade === 'utilizar'">
      <div class="form-group col-md-9">
        <label for="localidade">Localidade:</label>
        <select id="localidade" name="localidade" class="form-control" [(ngModel)]="localidadeId">
          <option *ngFor="let localidade of localidades" [value]="localidade.id">{{ localidade.logradouro }}, {{
            localidade.cidade }} - {{ localidade.estado }}</option>
        </select>
      </div>
    </div>
    <div class="form-row row" *ngIf="opcaoLocalidade === 'criar'">
      <app-endereco-form [endereco]="novaLocalidade"></app-endereco-form>
    </div>
    <div class="form-row row">
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-primary mt-4">Criar</button>
      </div>
    </div>
  </form>
</div>
